<%- include('head.ejs') %>

<body class="detailBody">

  <header class="detailHeader">
    <a href="/">⟵</a>
    <span><%= data.dateAdded %></span>
    <h2><%= data.title %></h2>

    <% for (var tag = 0; tag < data.tags.length; tag++) { %>
      <span class="tags"><%= data.tags[tag] %></span>
    <% } %>
  <header>

    <div class="content">
      <p><%= data.text %></p>
      <img src="img/<%= data._id %>.png">
    </div>

</body>

<%- include('tail.ejs') %>
