<%- include('head.ejs') %>

<% var months = ['apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt'] %>

<% var tasks = ['literatuur', 'themas', 'veldonderzoek', 'eerste ontwerp', 'eerste test'] %>

<body id="listBody">

  <header id="listHeader">
    <h1>Ontwerpbiografie</h1>
    <a href='add'>
      <span>+</span>
      <span>Add</span>
    </a>
  </header>

  <div id="carousel">

    <div id="planningItem">
      <span>Laatste update: maandag 16 april</span>
      <h2>Project Planning</h2>
      <table>
        <tr>
          <th></th>
          <% for (var month = 0; month < months.length; month++) { %>
          <th><%= months[month] %></th>
          <% } %>
        </tr>

        <% for (var task = 0; task < tasks.length; task++) { %>

        <tr>
          <td><%= tasks[task] %></td>
          <td colspan="<%= months.length %>"><div class="progressionBar"><div></div></div></td>
        </tr>

        <% } %>

      </table>
    </div>

    <% for (var index = 0; index < data.length; index++) { %>

    <a href="/<%= data[index]._id %>" class="logEntry">
      <span><%= data[index].dateAdded %></span>
      <h2><%= data[index].title %></h2>

      <% for (var tag = 0; tag < data[index].tags.length; tag++) { %>
        <span class="tags"><%= data[index].tags[tag] %></span>
      <% } %>

      <h3>Doel</h3>
      <div class="content">
        <p><%= data[index].goal %></p>
        <img src="img/<%= data[index]._id %>.png">
      </div>
    </a>

    <% } %>

  </div>

</body>

<%- include('tail.ejs') %>
